[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]

flask = "2.1.2"
sqlalchemy = "1.4.36"
flask-sqlalchemy = "2.5.1"
flask-migrate = "3.1.0"
flask-swagger = "0.2.14"
psycopg2-binary = "2.9.3"
python-dotenv = "0.20.0"
flask-cors = "3.0.10"
gunicorn = "20.1.0"
cloudinary = "1.29.0"
flask-admin = "1.6.0"
flask-jwt-extended = "4.4.0"
flask-bcrypt = "1.0.1"
datetime = "*"
firebase-admin = "*"

[requires]
python_version = "3.8"

[scripts]
start="flask run -p 3001 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
local="heroku local"
upgrade="flask db upgrade"
reset_db="bash ./docs/assets/reset_migrations.bash"
deploy="echo 'Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku' "
